@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Invaders";
  src: url("/fonts/visitor.ttf") format("truetype"); /* "truetype" if it's .ttf */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: #000;
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
